<style>
    .panel-title > a > span > p {
        margin: 0 !important;
    }
</style>
<div class="bs-example centered">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <h3 class="text-center">List of authors</h3>
    </div>
    <div class="panel-group col-md-10 col-xs-12 col-sm-12 col-lg-10" id="accordion">
        <div class="panel panel-default" ng-repeat="author in authors.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="getOtherDetails(author._id)"
                       data-target="#{{author._id}}">
                        {{ author.first_name| capitalize }} {{ author.last_name | capitalize}}</a>
                </h4>
            </div>
            <div id="{{author._id}}" class="panel-collapse collapse">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div>
                            <h2 class="text-center">User Details</h2>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title margin-left-20">{{ author.first_name | capitalize}} {{ author.last_name | capitalize}}</h3>
                                </div>
                                <div class="panel-body w3-card-4">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 col-sm-12 hidden-xs" align="center">
                                            <img alt="User Pic" src="http://localhost:3000/styles/images/avatar.png"
                                                 class="img-circle img-responsive">
                                        </div>
                                        <div class="visible-xs col-xs-12 image-centered" align="center">
                                            <img alt="User Pic" src="http://localhost:3000/styles/images/avatar.png"
                                                 class="img-circle img-responsive">
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                                            <table class="table table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>Email</td>
                                                    <td><a href="mailto:{{ author.email }}">{{author.email}}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Registered On:</td>
                                                    <td>{{ author.registered_on | amDateFormat:'DD.MM.YYYY'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td>{{ author.address_line | capitalize}}&comma; {{author.city | capitalize}}
                                                        <br/> {{ author.state | capitalize}}&comma; {{author.country | capitalize}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Institution:</td>
                                                    <td>{{ author.institution | capitalize}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="text-center">User Submissions</h2>
                            <div ng-if="userSubmissionDetails.length < 1">
                                <p class="text-center">This user has not submitted anything!!</p>
                            </div>
                            <uib-accordion close-others="true">
                                <div ng-repeat="submission in userSubmissionDetails">
                                    <div uib-accordion-group class="panel-default" is-open="openIndex[$index]">
                                        <uib-accordion-heading>
                                            <p>{{submission.title | capitalize}}
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                                            </p>
                                        </uib-accordion-heading>
                                        <div class="w3-card-4" style="  width:100%;">
                                            <header class="w3-container w3-light-grey">
                                                <h1>{{submission.title | capitalize:true}} <span
                                                        class="badge">{{submission.status}}</span></h1>
                                            </header>
                                            <div class="w3-container">
                                                <br/>
                                                <p>
                                                    <strong>Abstract: </strong>{{submission.abstract | capitalize}}
                                                    <br/>
                                                    <strong>Keywords: </strong>{{ submission.keywords.join(', ') }}
                                                </p>
                                                <br/>
                                            </div>
                                            <footer class="w3-container w3-light-grey">
                                                <h5>Submitted on {{submission.date_submitted  | amDateFormat:'DD.MM.YYYY'}}</h5>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
        </center>
    </div>

</div>
