<div class="bs-example centered">
    <div ng-if="reviews.length < 1">
        <h5> There are currently no reviews!! Please visit later!!</h5>
    </div>
    <div class="panel-group col-md-10 col-sm-12 col-xs-12 col-lg-10" id="accordion">
        <div class="panel panel-default" ng-repeat="review in reviews">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#{{review._id}}">{{review.paper_title | capitalize}}</a>
                    <span class="badge pull-right
                            ng-class:{ 'custom-danger': review.overall_evaluation == 1,
                                    'custom-warning': review.overall_evaluation == 2,
                                    'custom-info': review.overall_evaluation == 3,
                                    'custom-accepted': review.overall_evaluation == 4,
                                    'custom-success': review.overall_evaluation == 5};">
                        {{ getRatingText(review.overall_evaluation)}}</span>
                </h4>
            </div>
            <div id="{{review._id}}" class="panel-collapse collapse">
                <p class="margin-left-20 margin-top-20 margin-bottom-20">Reviewer name: <b><i>{{getReviewerName(review.user_id) | capitalize:true}}</i></b></p>
                <div class="panel-body">
                    <div class="card">
                        <div class="card-header"><strong>Detailed Comments</strong></div>
                        <div class="card-block">
                            <p class="card-text">{{review.detailed_comments | capitalize}}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><strong>Strong points</strong></div>
                        <div class="card-block">
                            <p class="card-text">{{review.major_strong_points | capitalize}}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><strong>Weak points</strong></div>
                        <div class="card-block">
                            <p class="card-text">{{review.weak_points | capitalize}}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><strong>Summary</strong></div>
                        <div class="card-block">
                            <p class="card-text">{{review.summary | capitalize}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>