<div class="importantEvents">
    <div class="alert" role="alert">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span><span
            class="h3"> &nbsp; &nbsp;Important Events</span>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>{{ aboutConferenceMessage }}</strong></li>
        <li class="list-group-item"><strong>{{ aboutSubmissionMessage }}</strong></li>
        <li class="list-group-item"><strong>{{ aboutReviewMessage }}</strong></li>
    </ul>
</div>